discord
requests
pyfiglet
distutils
os
sys
colorama
base64
psutil
time
json
datetime
asyncio
smtplib
logging
platform
itertools
ast
email.mime
inspect
re
unittest
aiohttp
pingparsing
googlesearch
textwrap
random
functools
math
youtube_dl
async_timeout